.main{
    
    width: 400px;
    height: 620px;
    background-color: #222423;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow:3px 3px 3px 3px rgb(34, 29, 29);
    
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    background-color: #1ae37f;
    background-image: url("asset/wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}

    

.head{
    width: 400px;
    height: 80px;
    border-radius: 20px 20px 0px 0px ;
    background-color: #f66a09;
}

.head p{
    position: absolute;
    width: 110px;
    height: 20px;
    background-color: black;
    color: orange;
    border-radius: 30px;
    margin-left: 270px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.head1{
    width: 397px;
    height: 110px;
    background-color:#222423;
    border: 2px solid black;

}

#form{
    margin-left: 22px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border: 1px solid black;
    
}

.first{
    display: flex;
    gap: 20px;
    padding-top: 10px;
    padding-left: 25px;
}

.first .butt{
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 90px;
    background-color: #171918;
    border: 1px solid black;
    
    
}

.first .butt:hover{
    background-color: #1ae37f;

}



.second{
    display: flex;
    gap: 20px;
    padding-top: 10px;
    padding-left: 25px;
}

.second .butt{
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 90px;
    background-color: #171918;
    border: 1px solid black;
    

}
.second .butt:hover{
    background-color: #222423;

}




.third{
    display: flex;
    gap: 20px;
    padding-top: 10px;
    padding-left: 25px;
}

.third .butt{
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 90px;
    background-color: #171918;
    border: 1px solid black;
    
}
.third .butt:hover{
    background-color: #222423;

}

.last{
    display: flex;
    gap: 20px;
    padding-top: 10px;
    padding-left: 25px;
}

.last .butt{
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 90px;
    background-color: #171918;
    font-size: 20px;
    border: 1px solid black;
}

.last .butt:hover{
    background-color: #222423;

}

.final{
    display: flex;
    gap: 20px;
    padding-top: 10px;
    padding-left: 25px;
}

.final .butt1{
    color: white;
    width: 160px;
    height: 70px;
    font-size: 20px;
    border-radius: 90px;
    background-color: #171918;
    border: 1px solid black;
}

.final .butt:hover{
    background-color: #0e100f;

}

